@model UserToListDTO
<form asp-controller="Login" asp-action="ChangePassword" method="post">

    <div class="form-group">
        <label>id</label>
        <input type="text" asp-for="UserId" class="form-control" id="name" hidden>


    </div>
    <div class="form-group">
        <label>UserName</label>
        <input type="text" asp-for="UserName" class="form-control" id="name" placeholder="Enter UserName...">


    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="text" asp-for="UserPassword" class="form-control" id="name" placeholder="Enter Password...">
        <span asp-validation-for="UserPassword" style="color:red"></span>

    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="text" asp-for="ConfirmPassword" class="form-control" id="name" placeholder="Re Enter Password...">
        <span asp-validation-for="ConfirmPassword" style="color:red"></span>

    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>